.outer{
  border: 2px solid rgba(21,120,162,.3);
  width: 100%;
  max-width: 500px;
  padding: 50px 25px;
  border-radius: 6px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}
.outer h2 {
  font-size: 2rem;
}

.mail input {
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  width: 365px;
  height: 45px;
  border: 1px solid rgb(119, 187, 252);
  border-radius: 6px;
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
  border: none;
  background-color: rgb(255, 255, 255);
  touch-action: manipulation;
}

.password input {
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px 0px 24px;
    
  width: 365px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3);
  border: none;
  background-color: rgb(255, 255, 255);
}
.forgot {
  color: #000000;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: underline;
}
.Login {
  position: relative;
  top: 20px;
  height: 45px;
  width: 100px;
  color: white;
  background-color: #000000;
  border-radius: 50px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
/*header*/

.header {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 10px rgba(197, 197, 197, 0.2);
  padding-left: 15px;
}

.nourishwithsim {
  font-size: 20px;
  font-weight: bolder;
  color: rgba(66, 64, 65, 1);
}
.red {
  color: rgb(255, 0, 0, 0.7);
}
.NWS {
  margin-left: 30%;
  font-size: 28px;
  top: 10px;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.8);
}
