.sidebar {
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 270px;
  
}

.sidebar h3 {
  padding-left: 15px;
}
.home h3 {
  margin-top: 4px;
}

.panel {
  display: flex;
}
.icons {
  margin: 20px 0px 0px 100px;
}

.icon {
  margin-left: 45%;
}

.home {
  font-weight: 500;
  font-size: 18px;
}

.bar {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.bars {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background: #f5b5a3;
  border-radius: 0px 20px 20px 0px;
}

.top {
  margin-top: 20px;
}

.bar:hover {
  cursor: pointer;
  padding: 3px;
  border-radius: 0px 20px 20px 0px;
  background-color: #f5b5a3;
  transition: 0.4s;
}
.bars:hover {
  cursor: pointer;
  padding: 3px;
  border-radius: 0px 20px 20px 0px;
  background-color: #f5b5a3;
  transition: 0.4s;
}

#btn {
  cursor: pointer;
  margin-top: 5px;
  font-size: 22px;
}

.sidebar h3 {
  padding-left: 15px;
}

